.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  padding-top: 24px;
  height: 100%;
  color: var(--color-primary-alternative);
  background-color: var(--color-surface);

  .sidebar {
    height: 90vh;
    overflow-x: auto;
  }

  .questions {
    height: 90vh;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    padding-left: 32px;

    .indexes {
      .index {
        background-color: var(--color-primary-alternative);
        color: var(--color-surface);
        width: 48px;
        text-align: center;
        padding: 16px;
        margin-bottom: 16px;
        cursor: pointer;

        &.active {
          background-color: var(--color-primary) !important;
        }

        &.answered {
          background-color: var(--color-confirmed);
        }
      }
    }

    .question {
      margin: 5% 10% 0 10%;

      .actions {
        margin-top: 24px;

        > .btn {
          margin-right: 16px;
        }
      }
    }

    .levels {
      margin: 0 auto;

      > .btn {
        margin-left: 16px;
      }
    }
  }
}
